name: build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
    - name: Install dependencies & clone repo
      run: |
        sudo apt update
        sudo apt install -y cmake build-essential python3.12 python3.12-venv pkg-config git
        git clone https://github.com/mlukichev/RobotVision.git --depth=1

        cd RobotVision/third_party
        rm -rf apriltag
        git clone https://github.com/AprilRobotics/apriltag.git --depth=1

    - name: Create venv & install Conan
      working-directory: RobotVision
      run: |
        python3 -m venv .venv
        source .venv/bin/activate
        python -m pip install --upgrade pip
        python -m pip install conan
        conan profile detect --force

    - name: Conan install
      working-directory: RobotVision
      run: |
        source .venv/bin/activate
        conan install . \
          --output-folder=build \
          --build=missing \
          -c tools.system.package_manager:mode=install \
          -c tools.system.package_manager:sudo=True \
          -c tools.system.package_manager:tool=apt-get

    - name: CMake configure & build
      working-directory: RobotVision
      run: |
        source .venv/bin/activate
        cmake -B build --preset conan-release
        cmake --build build --preset conan-release

    - name: Package binaries
      working-directory: RobotVision
      run: |
        mkdir -p binaries
        find build/ -type f -executable -exec cp {} binaries/ \;
        tar -czvf binaries.tar.gz binaries/

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: RobotVision-binaries
        path: RobotVision/binaries.tar.gz
